# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://github.com/guipsamora/pandas_exercises/blob/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv',usecols = ['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu','Mjob', 'Fjob', 'reason', 'guardian'])
df.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [5]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian'],
      dtype='object')

### Step 5. Create a lambda function that captalize strings.

In [16]:
capital = lambda x: x.capitalize()
df['reason'] = df['reason'].apply(capital)

0          Course
1          Course
2           Other
3            Home
4            Home
5      Reputation
6            Home
7            Home
8            Home
9            Home
10     Reputation
11     Reputation
12         Course
13         Course
14           Home
15           Home
16     Reputation
17     Reputation
18         Course
19           Home
20     Reputation
21          Other
22         Course
23     Reputation
24         Course
25           Home
26           Home
27          Other
28           Home
29           Home
          ...
365        Course
366         Other
367    Reputation
368        Course
369         Other
370          Home
371         Other
372          Home
373        Course
374    Reputation
375          Home
376        Course
377        Course
378          Home
379    Reputation
380          Home
381         Other
382          Home
383         Other
384          Home
385         Other
386    Reputation
387        Course
388        Course
389        Course
390        Course
391        Course
392        Course
393        Course
394        Course
Name: reason, Length: 395, dtype: object

### Step 6. Capitalize both Mjob and Fjob

In [12]:
df['Mjob'] = df['Mjob'].str.capitalize()

In [13]:
df['Fjob'] = df['Fjob'].str.capitalize()

In [17]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,Course,mother
1,GP,F,17,U,GT3,T,1,1,At_home,Other,Course,father
2,GP,F,15,U,LE3,T,1,1,At_home,Other,Other,mother
3,GP,F,15,U,GT3,T,4,2,Health,Services,Home,mother
4,GP,F,16,U,GT3,T,3,3,Other,Other,Home,father

### Step 7. Print the last elements of the data set.

In [11]:
df.tail(1)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
394,MS,M,19,U,LE3,T,1,1,OTHER,AT_HOME,course,father

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and captalize Mjob and Fjob.

In [18]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,Course,mother
1,GP,F,17,U,GT3,T,1,1,At_home,Other,Course,father
2,GP,F,15,U,LE3,T,1,1,At_home,Other,Other,mother
3,GP,F,15,U,GT3,T,4,2,Health,Services,Home,mother
4,GP,F,16,U,GT3,T,3,3,Other,Other,Home,father
5,GP,M,16,U,LE3,T,4,3,Services,Other,Reputation,mother
6,GP,M,16,U,LE3,T,2,2,Other,Other,Home,mother
7,GP,F,17,U,GT3,A,4,4,Other,Teacher,Home,mother
8,GP,M,15,U,LE3,A,3,2,Services,Other,Home,mother
9,GP,M,15,U,GT3,T,3,4,Other,Other,Home,mother
10,GP,F,15,U,GT3,T,4,4,Teacher,Health,Reputation,mother
11,GP,F,15,U,GT3,T,2,1,Services,Other,Reputation,father
12,GP,M,15,U,LE3,T,4,4,Health,Services,Course,father
13,GP,M,15,U,GT3,T,4,3,Teacher,Other,Course,mother
14,GP,M,15,U,GT3,A,2,2,Other,Other,Home,other
15,GP,F,16,U,GT3,T,4,4,Health,Other,Home,mother
16,GP,F,16,U,GT3,T,4,4,Services,Services,Reputation,mother
17,GP,F,16,U,GT3,T,3,3,Other,Other,Reputation,mother
18,GP,M,17,U,GT3,T,3,2,Services,Services,Course,mother
19,GP,M,16,U,LE3,T,4,3,Health,Other,Home,father
20,GP,M,15,U,GT3,T,4,3,Teacher,Other,Reputation,mother
21,GP,M,15,U,GT3,T,4,4,Health,Health,Other,father
22,GP,M,16,U,LE3,T,4,2,Teacher,Other,Course,mother
23,GP,M,16,U,LE3,T,2,2,Other,Other,Reputation,mother
24,GP,F,15,R,GT3,T,2,4,Services,Health,Course,mother
25,GP,F,16,U,GT3,T,2,2,Services,Services,Home,mother
26,GP,M,15,U,GT3,T,2,2,Other,Other,Home,mother
27,GP,M,15,U,GT3,T,4,2,Health,Services,Other,mother
28,GP,M,16,U,LE3,A,3,4,Services,Other,Home,mother
29,GP,M,16,U,GT3,T,4,4,Teacher,Teacher,Home,mother
...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,18,R,GT3,T,1,3,At_home,Other,Course,mother
366,MS,M,18,U,LE3,T,4,4,Teacher,Services,Other,mother
367,MS,F,17,R,GT3,T,1,1,Other,Services,Reputation,mother
368,MS,F,18,U,GT3,T,2,3,At_home,Services,Course,father
369,MS,F,18,R,GT3,T,4,4,Other,Teacher,Other,father
370,MS,F,19,U,LE3,T,3,2,Services,Services,Home,other
371,MS,M,18,R,LE3,T,1,2,At_home,Services,Other,father
372,MS,F,17,U,GT3,T,2,2,Other,At_home,Home,mother
373,MS,F,17,R,GT3,T,1,2,Other,Other,Course,mother
374,MS,F,18,R,LE3,T,4,4,Other,Other,Reputation,mother
375,MS,F,18,R,GT3,T,1,1,Other,Other,Home,mother
376,MS,F,20,U,GT3,T,4,2,Health,Other,Course,other
377,MS,F,18,R,LE3,T,4,4,Teacher,Services,Course,mother
378,MS,F,18,U,GT3,T,3,3,Other,Other,Home,mother
379,MS,F,17,R,GT3,T,3,1,At_home,Other,Reputation,mother
380,MS,M,18,U,GT3,T,4,4,Teacher,Teacher,Home,father
381,MS,M,18,R,GT3,T,2,1,Other,Other,Other,mother
382,MS,M,17,U,GT3,T,2,3,Other,Services,Home,father
383,MS,M,19,R,GT3,T,1,1,Other,Services,Other,mother
384,MS,M,18,R,GT3,T,4,2,Other,Other,Home,father
385,MS,F,18,R,GT3,T,2,2,At_home,Other,Other,mother
386,MS,F,18,R,GT3,T,4,4,Teacher,At_home,Reputation,mother
387,MS,F,19,R,GT3,T,2,3,Services,Other,Course,mother
388,MS,F,18,U,LE3,T,3,1,Teacher,Services,Course,mother
389,MS,F,18,U,GT3,T,1,1,Other,Other,Course,mother
390,MS,M,20,U,LE3,A,2,2,Services,Services,Course,other
391,MS,M,17,U,LE3,T,3,1,Services,Services,Course,mother
392,MS,M,21,R,GT3,T,1,1,Other,Other,Course,other
393,MS,M,18,R,LE3,T,3,2,Services,Other,Course,mother
394,MS,M,19,U,LE3,T,1,1,Other,At_home,Course,father

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [19]:
def majority(y):
    return(bool(y>17))

In [20]:
df['legal_drinker'] = df['age'].apply(majority)
df['legal_drinker']

0       True
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
365     True
366     True
367    False
368     True
369     True
370     True
371     True
372    False
373    False
374     True
375     True
376     True
377     True
378     True
379    False
380     True
381     True
382    False
383     True
384     True
385     True
386     True
387     True
388     True
389     True
390     True
391    False
392     True
393     True
394     True
Name: legal_drinker, Length: 395, dtype: bool

In [21]:
df.head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,Course,mother,True
1,GP,F,17,U,GT3,T,1,1,At_home,Other,Course,father,False
2,GP,F,15,U,LE3,T,1,1,At_home,Other,Other,mother,False
3,GP,F,15,U,GT3,T,4,2,Health,Services,Home,mother,False
4,GP,F,16,U,GT3,T,3,3,Other,Other,Home,father,False
5,GP,M,16,U,LE3,T,4,3,Services,Other,Reputation,mother,False
6,GP,M,16,U,LE3,T,2,2,Other,Other,Home,mother,False
7,GP,F,17,U,GT3,A,4,4,Other,Teacher,Home,mother,False
8,GP,M,15,U,LE3,A,3,2,Services,Other,Home,mother,False
9,GP,M,15,U,GT3,T,3,4,Other,Other,Home,mother,False

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 13 columns):
school           395 non-null object
sex              395 non-null object
age              395 non-null int64
address          395 non-null object
famsize          395 non-null object
Pstatus          395 non-null object
Medu             395 non-null int64
Fedu             395 non-null int64
Mjob             395 non-null object
Fjob             395 non-null object
reason           395 non-null object
guardian         395 non-null object
legal_drinker    395 non-null bool
dtypes: bool(1), int64(3), object(9)
memory usage: 37.5+ KB

In [27]:
df[df.select_dtypes(include=['int64']).columns] *= 10

In [28]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,180,U,GT3,A,40,40,At_home,Teacher,Course,mother,True
1,GP,F,170,U,GT3,T,10,10,At_home,Other,Course,father,False
2,GP,F,150,U,LE3,T,10,10,At_home,Other,Other,mother,False
3,GP,F,150,U,GT3,T,40,20,Health,Services,Home,mother,False
4,GP,F,160,U,GT3,T,30,30,Other,Other,Home,father,False
5,GP,M,160,U,LE3,T,40,30,Services,Other,Reputation,mother,False
6,GP,M,160,U,LE3,T,20,20,Other,Other,Home,mother,False
7,GP,F,170,U,GT3,A,40,40,Other,Teacher,Home,mother,False
8,GP,M,150,U,LE3,A,30,20,Services,Other,Home,mother,False
9,GP,M,150,U,GT3,T,30,40,Other,Other,Home,mother,False
10,GP,F,150,U,GT3,T,40,40,Teacher,Health,Reputation,mother,False
11,GP,F,150,U,GT3,T,20,10,Services,Other,Reputation,father,False
12,GP,M,150,U,LE3,T,40,40,Health,Services,Course,father,False
13,GP,M,150,U,GT3,T,40,30,Teacher,Other,Course,mother,False
14,GP,M,150,U,GT3,A,20,20,Other,Other,Home,other,False
15,GP,F,160,U,GT3,T,40,40,Health,Other,Home,mother,False
16,GP,F,160,U,GT3,T,40,40,Services,Services,Reputation,mother,False
17,GP,F,160,U,GT3,T,30,30,Other,Other,Reputation,mother,False
18,GP,M,170,U,GT3,T,30,20,Services,Services,Course,mother,False
19,GP,M,160,U,LE3,T,40,30,Health,Other,Home,father,False
20,GP,M,150,U,GT3,T,40,30,Teacher,Other,Reputation,mother,False
21,GP,M,150,U,GT3,T,40,40,Health,Health,Other,father,False
22,GP,M,160,U,LE3,T,40,20,Teacher,Other,Course,mother,False
23,GP,M,160,U,LE3,T,20,20,Other,Other,Reputation,mother,False
24,GP,F,150,R,GT3,T,20,40,Services,Health,Course,mother,False
25,GP,F,160,U,GT3,T,20,20,Services,Services,Home,mother,False
26,GP,M,150,U,GT3,T,20,20,Other,Other,Home,mother,False
27,GP,M,150,U,GT3,T,40,20,Health,Services,Other,mother,False
28,GP,M,160,U,LE3,A,30,40,Services,Other,Home,mother,False
29,GP,M,160,U,GT3,T,40,40,Teacher,Teacher,Home,mother,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,180,R,GT3,T,10,30,At_home,Other,Course,mother,True
366,MS,M,180,U,LE3,T,40,40,Teacher,Services,Other,mother,True
367,MS,F,170,R,GT3,T,10,10,Other,Services,Reputation,mother,False
368,MS,F,180,U,GT3,T,20,30,At_home,Services,Course,father,True
369,MS,F,180,R,GT3,T,40,40,Other,Teacher,Other,father,True
370,MS,F,190,U,LE3,T,30,20,Services,Services,Home,other,True
371,MS,M,180,R,LE3,T,10,20,At_home,Services,Other,father,True
372,MS,F,170,U,GT3,T,20,20,Other,At_home,Home,mother,False
373,MS,F,170,R,GT3,T,10,20,Other,Other,Course,mother,False
374,MS,F,180,R,LE3,T,40,40,Other,Other,Reputation,mother,True
375,MS,F,180,R,GT3,T,10,10,Other,Other,Home,mother,True
376,MS,F,200,U,GT3,T,40,20,Health,Other,Course,other,True
377,MS,F,180,R,LE3,T,40,40,Teacher,Services,Course,mother,True
378,MS,F,180,U,GT3,T,30,30,Other,Other,Home,mother,True
379,MS,F,170,R,GT3,T,30,10,At_home,Other,Reputation,mother,False
380,MS,M,180,U,GT3,T,40,40,Teacher,Teacher,Home,father,True
381,MS,M,180,R,GT3,T,20,10,Other,Other,Other,mother,True
382,MS,M,170,U,GT3,T,20,30,Other,Services,Home,father,False
383,MS,M,190,R,GT3,T,10,10,Other,Services,Other,mother,True
384,MS,M,180,R,GT3,T,40,20,Other,Other,Home,father,True
385,MS,F,180,R,GT3,T,20,20,At_home,Other,Other,mother,True
386,MS,F,180,R,GT3,T,40,40,Teacher,At_home,Reputation,mother,True
387,MS,F,190,R,GT3,T,20,30,Services,Other,Course,mother,True
388,MS,F,180,U,LE3,T,30,10,Teacher,Services,Course,mother,True
389,MS,F,180,U,GT3,T,10,10,Other,Other,Course,mother,True
390,MS,M,200,U,LE3,A,20,20,Services,Services,Course,other,True
391,MS,M,170,U,LE3,T,30,10,Services,Services,Course,mother,False
392,MS,M,210,R,GT3,T,10,10,Other,Other,Course,other,True
393,MS,M,180,R,LE3,T,30,20,Services,Other,Course,mother,True
394,MS,M,190,U,LE3,T,10,10,Other,At_home,Course,father,True